*{
box-sizing: border-box;
}
body{
margin:0px;
padding: 0px;
background-color: rgba(255,255,255,1);
}

#main{
	width: 100%;
	overflow: hidden;
}
ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;

}
ul>li{
	width: 24%;
	height: 120px;
	overflow: hidden;
	border:1px dashed rgba(123,123,123,.5);
	padding: 5px 0px 5px 0px;
	margin-bottom: 5px;
	margin-right: 1%;
	display: inline-block;
	text-align: center;

}
img{
	max-width: 100%;
	height: auto;
}